
.topo{ 
    
    padding: 6px;
    color: blanchedalmond;
    background-color: rgb(41, 40, 40);
    height: 110px;
    text-align: center;
    font-size: larger;
    align-content: center;

}
.menu{
   
    background-color: rgb(41, 40, 40);
    padding: 6px;
    width: 130px;
    float: left;
    margin-right: 10px;
    height: 1000px;
    font-size: larger;

}

.conteudo{
    border: 0px inset blue;
    padding: 6px;
    width: 300px;
    float: left;
    height: 500px;
    align-content: center;
}
body{ 
margin: 0px;
}
#icon{
    font-size: 50px;
    margin-left: 40px;
    margin: 30px;
}

.int1{
margin-top: 30px;
background-color: rgb(41, 40, 40);

}
.but1{
    background-color: dimgrey;
}